<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/detail.css"/>
</head>
<body>
    <div id="header" class="container"></div>
    <div id="main" class="container">
        <div class="contain">
            <div class="left">
                <p>
                    <img src="img/user1.png" alt=""/>
                    <br/>
                    <span>用户：XXX</span>
                    <br/>
                    <span>已登录：100天</span>
                </p>
                <div>
                    <b>最近浏览</b>
                    <p>
                        <img src="img/fff60f71e466be11ea5b97a4d70a2d23.jpg"/>
                        <span>法拉利488 跑车</span>
                    </p>
                    <p>
                        <img src="img/fff60f71e466be11ea5b97a4d70a2d23.jpg"/>
                        <span>法拉利488 跑车</span>
                    </p>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>购买信息</li>
                    <li>个人信息</li>
                    <li>成交订单</li>
                    <li>消息</li>
                </ul>
                <div class="info-detail">
                    <div style="display:block">
                        <ul>
                            <li>
                            <span>
                                卖单号：111111
                                <i>状态：<span>已出价</span></i>
                            </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>欲卖价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>申请开始时间：2018-5-1</span>
                                        <br/>
                                        <span>买车出价：<strong>599</strong>万</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">关闭订单</button>
                                        <br/>
                                        <button class="resetOrder">重新出价</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                            <span>
                                卖单号：111111
                                <i>状态：<span>已出价</span></i>
                            </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>欲卖价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>申请开始时间：2018-5-1</span>
                                        <br/>
                                        <span>买车出价：<strong>599</strong>万</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">关闭订单</button>
                                        <br/>
                                        <button class="resetOrder">重新出价</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                            <span>
                                卖单号：111111
                                <i>状态：<span>已出价</span></i>
                            </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>欲卖价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>申请开始时间：2018-5-1</span>
                                        <br/>
                                        <span>买车出价：<strong>599</strong>万</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">关闭订单</button>
                                        <br/>
                                        <button class="resetOrder">重新出价</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                            <span>
                                卖单号：111111
                                <i>状态：<span>已出价</span></i>
                            </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>欲卖价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>申请开始时间：2018-5-1</span>
                                        <br/>
                                        <span>买车出价：<strong>599</strong>万</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">关闭订单</button>
                                        <br/>
                                        <button class="resetOrder">重新出价</button>
                                    </small>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div style="display: none">
                        <ul>
                            <li>
                                <p>
                                    <img src="img/user.png" alt=""/>
                                    <b>个人信息</b>
                                    <i>
                                        <img src="img/setting.png" alt=""/>
                                    </i>
                                </p>
                                <ul>
                                    <li>
                                        姓名：小明
                                    </li>
                                    <li>
                                        性别：男
                                    </li>
                                    <li>
                                        生日：1993-10-11
                                    </li>
                                    <li>
                                        联系电话：12233334444
                                        <span>
                                            <img src="img/thumbs.png" />
                                            已认证
                                        </span>
                                    </li>
                                    <li>
                                        身份证：43XXXXXXXXX
                                        <span>
                                            <img src="img/thumbs.png" />
                                            已认证
                                        </span>
                                    </li>
                                    <li>
                                        微信：1111XXXX
                                        <span>
                                            <img src="img/thumbs.png" />
                                            已认证
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p>
                                    <img src="img/money.png" alt=""/>
                                    <b>账户信息</b>
                                    <i>
                                        <img src="img/setting.png" alt=""/>
                                    </i>
                                </p>
                                <ul>
                                    <li>
                                        绑定银行卡：6000 XXXXXXXXXXXX
                                        <span>
                                            <img src="img/thumbs.png" />
                                            已认证
                                        </span>
                                    </li>
                                    <li>
                                        常用支付方式：<img src="img/visa.png"/>
                                        <span>
                                            <img src="img/thumbs.png" />
                                            已认证
                                        </span>
                                    </li>
                                    <li>
                                        账户余额：<em>100000.00</em>
                                        <img src="img/extract.png"/>
                                        提取
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p>
                                    <img src="img/list.png" alt=""/>
                                    <b>账户信息</b>
                                    <i>
                                        <img src="img/setting.png" alt=""/>
                                    </i>
                                </p>
                                <ul>
                                    <li>
                                        汽车保险服务：已购买
                                        <span>
                                            <img src="img/yes.png" alt=""/>
                                            已生效
                                        </span>
                                    </li>
                                    <li>
                                        汽车鉴定服务：已购买
                                        <span>
                                            <img src="img/yes.png" alt=""/>
                                            已生效
                                        </span>
                                    </li>
                                    <li>
                                        购车服务保障：未购买
                                        <strong>
                                            <img src="img/no.png" alt=""/>
                                            未生效
                                        </strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="display: none">
                        <ul>
                            <li>
                                <span>
                                    卖单号：111111
                                    <i>状态：<span>已出价</span></i>
                                </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>成交价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>成交时间：2018-5-1</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">取消订单</button>
                                        <br/>
                                        <button class="resetOrder">付款</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                                <span>
                                    卖单号：111111
                                    <i>状态：<span>已出价</span></i>
                                </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>成交价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>成交时间：2018-5-1</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">取消订单</button>
                                        <br/>
                                        <button class="resetOrder">付款</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                                <span>
                                    卖单号：111111
                                    <i>状态：<span>已出价</span></i>
                                </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>成交价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>成交时间：2018-5-1</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">取消订单</button>
                                        <br/>
                                        <button class="resetOrder">付款</button>
                                    </small>
                                </p>
                            </li>
                            <li>
                                <span>
                                    卖单号：111111
                                    <i>状态：<span>已出价</span></i>
                                </span>
                                <p>
                                    <img src="img/timg1.jfif"/>
                                    <em>
                                        <b>兰博基尼Aventador</b>
                                        <br/>
                                        <span>成交价格：<strong>673</strong>万</span>
                                        <br/>
                                        <span>成交时间：2018-5-1</span>
                                    </em>
                                    <small>
                                        <button class="closeOrder">取消订单</button>
                                        <br/>
                                        <button class="resetOrder">付款</button>
                                    </small>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div style="display: none">
                        <ul>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                            <li>
                                <img src="img/bell.png"/>
                                <b>系统提醒：审核已通过 &nbsp;&nbsp;&nbsp;2017-12-24 12:29</b>
                                <em>系统提醒：审核已于2017-12-24 12:29通过审核</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container"></div>
    <script src="js/jquery-3.2.0.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/header.js"></script>
    <script>
        $(function(){
            $(".right").on("click","li",function(){
                var index=$(this).index();
                $(".info-detail").children(`:eq(${index})`).show().siblings().hide();
            })
        })
    </script>
</body>
</html>