<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    <!--<link rel="stylesheet" href="css/base.css"/>-->
    <!--<link rel="stylesheet" href="css/footer.css"/>-->
<!--</head>-->
<!--<body>-->
    <!--<div id="footer" class="container">-->
        <hr/>
        <div class="footer-login">
            <img src="img/logo1.png"/>
        </div>
        <div class="footer-ul">
            <ul>
                <li><b><a>关于易车网</a></b></li>
                <li><hr/></li>
                <li><a>帮助中心</a></li>
                <li><a>诚聘英才</a></li>
                <li><a>法律声明</a></li>
            </ul>
            <ul>
                <li><b><a>买家中心</a></b></li>
                <li><hr/></li>
                <li><a>在线答疑</a></li>
                <li><a>服务保障</a></li>
                <li><a>法律声明</a></li>
            </ul>
            <ul>
                <li><b><a>卖家中心</a></b></li>
                <li><hr/></li>
                <li><a>在线咨询</a></li>
                <li><a>商品报名</a></li>
                <li><a>商家规则</a></li>
                <li><a>规则通知</a></li>
            </ul>
            <ul>
                <li><b><a>有话要说</a></b></li>
                <li><hr/></li>
                <li><a>客服热线</a></li>
                <li><a>廉正举报</a></li>
                <li><a>我要投诉</a></li>
            </ul>
        </div>
        <div class="footer-img">
            <img src="img/android.png" />
            <br/>
            <img src="img/ios.png" />
        </div>
        <div class="footer-footer">
            <span>©2018 达内时代科技集团有限公司 版权所有</span>
            <br/>
            <span>
                友情链接：
                <a>达内时代科技</a>
                <a>PYTHON</a>
                <a>WEB前端</a>
                <a>U3D</a>
                <a>JAVA</a>
                <a>C++</a>
                <a>Android</a>
                <a>IOS</a>
                <a>UED设计</a>
                <a>UID设计</a>
                <a>大数据</a>
                <a>Linux云计算</a>
                <a>网络运维</a>
            </span>
        </div>
    <!--</div>-->
    <!--<script src="js/jquery-3.2.0.js"></script>-->
<!--</body>-->
<!--</html>-->