<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    <!--<link rel="stylesheet" href="css/base.css"/>-->
    <!--<link rel="stylesheet" href="css/header.css"/>-->
<!--</head>-->
<!--<body>-->
    <!--<div id="header" class="container">-->
        <img class="login-img" src="img/logo1.png" alt=""/>
        <ul>
            <li><a href="">买车</a></li>
            <li><a href="">买车</a></li>
            <li><a href="">保险</a></li>
            <li><a href="">服务保障</a></li>
        </ul>
        <p>
            <a class="login">
                <img src="img/user.png"/>登录
            </a>
            <b>
                <img src="img/phone.png"/>
                400-400-400
            </b>
        </p>
    <!--</div>-->
    <!--<script src="js/jquery-3.2.0.js"></script>-->
<!--</body>-->
<!--</html>-->