<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/info-message.css"/>
</head>
<body>
    <div id="header" class="container"></div>
    <div id="main" style="padding-bottom:100px;"  class="container">
        <div class="contain">
            <div class="progress">
                <ul class="point">
                    <li>
                        个人信息
                        <b></b>
                    </li>
                    <li>
                        车辆信息
                        <b></b>
                    </li>
                    <li>
                        卖车信息
                        <b></b>
                    </li>
                    <li>
                        合同确认
                        <b></b>
                    </li>
                    <li>
                        发布成功
                        <b></b>
                    </li>
                </ul>
                <ul class="pre">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <form action="">
                <div>
                    <p>
                        <b>姓名:</b>
                        <input type="text" placeholder="请输入姓名">
                    </p>
                    <p>
                        <b>身份证号:</b>
                        <input type="text" placeholder="请输入身份证号">
                    </p>
                    <p>
                        <b>住址:</b>
                        <input type="text" placeholder="请输入住址">
                    </p>
                    <p>
                        <b>手机号:</b>
                        <input type="text" placeholder="请输入手机号">
                    </p>
                    <em>
                        <b>性别</b>
                        <input type="radio" name="gender" value="man">男
                        <input type="radio" name="gender" value="woman">女
                    </em>
                </div>
                <div>
                    <p>
                        <b>车辆品牌</b>
                        <select name="brands">
                            <option value="1">法拉利</option>
                            <option value="2">悍马</option>
                            <option value="3">兰博基尼</option>
                            <option value="4">英菲尼迪</option>
                            <option value="5">三轮</option>
                        </select>
                    </p>
                    <p>
                        <b>车型信息</b>
                        <select name="model" >
                            <option value="1">跑车</option>
                            <option value="2">商务车</option>
                            <option value="3">房车</option>
                            <option value="4">轿车</option>
                            <option value="5">SUV</option>
                        </select>
                    </p>
                    <p>
                        <b>车辆上牌日期:</b>
                        <input type="text"/>
                    </p>
                    <p>
                        <b>车辆发动机号码:</b>
                        <input type="text"/>
                    </p>
                    <em>
                        <b>是否有维修记录</b>
                        <input type="radio" name="isService" value="true"/>是
                        <input type="radio" checked name="isService" value="false"/>否
                    </em>
                </div>
                <div>
                    <p>
                        <b>期望售价</b>
                        <input type="text"/>(万元)
                    </p>
                    <p>
                        <b>卖车地址</b>
                        <input type="text"/>
                    </p>
                    <em>
                        <b>是否手续齐全</b>
                        <input type="radio" checked name="formalities" value="true"/>是
                        <input type="radio" name="formalities" value="false"/>否
                    </em>
                    <em>
                        <b>是否有债务</b>
                        <input type="radio" name="isDebt" value="ture"/>是
                        <input type="radio" name="isDebt" checked value="false"/>否
                    </em>
                </div>
                <div>
                    <b>卖家承诺:</b>
                    <textarea name="promise" cols="50" rows="10"></textarea>
                </div>
                <div>
                    <p><b>已成功发布卖车信息，请等待审核</b></p>
                </div>
            </form>
            <p>
                <button class="prev" disabled>上一步</button>
                <button class="next">下一步</button>
            </p>
        </div>
    </div>
    <div id="footer" class="container" ></div>
    <script src="js/jquery-3.2.0.js"></script>
    <script src="js/header.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/info-message.js"></script>
</body>
</html>