<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        function loadTeacher(cid){
            var url = "03-query-exer";
            
            url += "?cid=" + cid;
            
            location.href = url;
        }
    </script>
    <select id="course" onchange="loadTeacher(this.value)">
        
        <option value="0">--AllCourses--</option>
        {% for c in params.courses %}
        <option value={{c.id}}
            {% if params.course_id == c.id %}
                selected
            {% endif %}
        >{{c.cname}}</option>
        {% endfor %}
    </select>

    <table width="300" border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Course</td>
        </tr>
        {% for i in params.teachers %}
            <tr>
                <td>{{i.tname}}</td>
                <td>{{i.tage}}</td>
                <td>{{i.course.cname}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>