<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/01-form" method="POST">
        <p>
            用户名称：<input type="text" name="uname">
        </p>
        <p>
            用户爱好：<input type="checkbox" name="hobby" value="1">吃
            <input type="checkbox" name="hobby" value="2">喝
            <input type="checkbox" name="hobby" value="3">玩
            <input type="checkbox" name="hobby" value="4">乐
        </p>
        <P>
            喜欢的国家：
            <select name="country" multiple>
                <option value="CN">中国</option>
                <option value="USA">美国</option>
                <option value="UK">英国</option>
                <option value="KR">韩国</option>
            </select>
        </P>
        <P>
            <input type="submit" value="submit">
        </P>

    </form>
</body>
</html>