<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/03-release" method="POST" enctype="multipart/form-data">
        <p>
            博客标题：<input type="text" name="utitle">
        </p>
        <p>
            博客类型：<input type="radio" name="utype" value="personB" checked id="personB"><label for="personB">个人博客</label>
            <input type="radio" name="utype" value="publicB" id="publicB"><label for="publicB">公开博客</label>
            <input type="radio" name="utype" value="otherB" id="otherB"><label for="otherB">其他博客</label>
        </p>
        <p>
            上传图片：<input type="file" name="uimg">
        </p>
        <p>
            内&nbsp;&nbsp;容：<textarea name="uwrite" cols="100" rows="10"></textarea><input type="submit" value="发布">
        </p>


    </form>
</body>
</html>






























