<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='newTodo' @keyup.enter="addTodo">
        <ul>
            <li v-for="(todo,idx) in todos">
                <span>{{todo.text}}</span>
                <button @click="removeTodo(idx)">X</button>
            </li>
        </ul>
    </div>
    <script src="../js/vue.min.js"></script>
    <script>
        var exampleData = {
            newTodo:"",
            todos:[]
        }
        var app = new Vue({
            el:"#app",
            data:exampleData,
            methods:{
                addTodo:function(){
                    this.todos.push({text:this.newTodo});
                    this.newTodo = "";
                },
                removeTodo:function(idx){
                    this.todos.splice(idx,1);
                }
            }
        })
    </script>
</body>
</html>