<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>scheme:{{params.scheme}}</h2>
    <h2>method:{{params.method}}</h2>
    <h2>args:{{params.args}}</h2>
    <h2>form:{{params.form}}</h2>
    <h2>cookies:{{params.cookies}}</h2>
    <h2>files:{{params.files}}</h2>
    <h2>path:{{params.path}}</h2>
    <h2>full_path:{{params.full_path}}</h2>
    <h2>url:{{params.url}}</h2>
    <h2>headers:{{params.headers}}</h2>
    <h2>referer:{{params.referer}}</h2>
    <h2><a href="{{params.referer}}">返回</a></h2>
</body>
</html>


















