<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% macro showP(str) %}
        <p style="background:orangered;">
            {{str}}
        </p>
    {% endmacro %}

    {% for name in params.lst %}
        {{showP(name)}}
    {% endfor %}

    {% import "macro.html" as macros %}
    {{macros.showList(params.lst)}}








</body>
</html>