{% extends 'login.html' %}
{% block toptitle %}
    注册会员
{% endblock %}
{% block author %}
    <a href="/login">会员登录</a>
{% endblock %}
{% block form %}
    <form action="/register/" method="POST">
        {% csrf_token %}
        <div class="form-line">
            <p>手机号</p>
            <input type="text" name="uphone" class="uinput" value="{{uphone}}">
            <div>{{msg}}</div>
        </div>
        <div class="form-line">
            <p>密码</p>
            <input type="password" name="upwd" class="uinput" placeholder="请输入6-20位字符">
        </div>
        <div class="form-line">
            <p>确认密码</p>
            <input type="password" id="cpwd" class="uinput" placeholder="请再次输入密码">
        </div>
        <div class="form-line">
            <p>用户名</p>
            <input type="text" name="uname" class="uinput" value="{{uname}}">
        </div>
        <div class="form-line">
            <p>邮箱</p>
            <input type="email" name="uemail" class="uinput" value="{{uemail}}">
        </div>
        <div class="form-line">
            <p></p>
            <div>
                <input type="submit" value="注册" class="loginBtn btn">
                <a href="/login" class="registBtn btn">会员登录</a>
                    
            </div>
        </div>
    </form>
{% endblock %}
{% block style %}
    <style>
        #main .right{
            margin-top: 10px;
        }
    </style>
{% endblock %}