<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>首页_个人博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.easyfader.min.js"></script>
  <script src="/static/js/scrollReveal.js"></script>
  <script src="/static/js/common.js"></script>
  {% block style %}
  {% endblock %}
</head>

<body>
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="index.html">个人博客</a></h1>
        <li><a href="index.html">网站首页</a> </li>
        <li><a href="list.html">文章列表</a>
          <ul class="sub-nav">
            <li><a href="list.html">Python</a></li>
            <li><a href="list.html">python Web</a></li>
            <li><a href="list.html">爬虫</a></li>
            <li><a href="list.html">人工智能</a></li>
            <li><a href="list.html">JS实例索引</a></li>
          </ul>
        </li>
        <li><a href="photo.html">我的相册</a>
        </li>
        <li><a href="time.html">时间轴</a> </li>
        <li><a href="gbook.html">留言</a> </li>
        <li><a href="about.html">关于我</a> </li>
        <li><a href="/release">发表博客</a></li>
      </nav>
    </div>
    {% if params.user %}
    <a id="login">
      欢迎：{{params.user.uname}}
    </a>
    <a href="/logout" id="register">退出</a>
    {% else %}
    <a href="/login" id="login" target="_blank">登录</a>
    <a href="/register" id="register" target="_blank">注册</a>
    {% endif %}
    <!--menu end-->
    <!--mnav begin-->
    <div id="mnav">
      <h2><a href="index.html" class="mlogo">个人博客</a><span class="navicon"></span></h2>
      <dl class="list_dl">
        <dt class="list_dt"> <a href="index.html">网站首页</a> </dt>
        <dt class="list_dt"> <a href="#">文章列表</a> </dt>
        <dd class="list_dd">
          <ul>
            <!-- <li><a href="list.html">Python</a></li>
            <li><a href="list.html">python Web</a></li>
            <li><a href="list.html">爬虫</a></li>
            <li><a href="list.html">人工智能</a></li>
            <li><a href="list.html">JS实例索引</a></li> -->
            {% for cate in params.categories %}
              <li>
                <a href="/list?id={{cate.id}}">{{cate.cate_name}}</a>
              </li>
            {% endfor %}
          </ul>
        </dd>
        <dt class="list_dt"> <a href="photo.html">我的相册</a> </dt>
        <dt class="list_dt"> <a href="time.html">时间轴</a> </dt>
        <dt class="list_dt"> <a href="gbook.html">留言</a> </dt>
        <dt class="list_dt"> <a href="about.html">关于我</a> </dt>
      </dl>
    </div>
    <!--mnav end-->


  </header>
  {% block back_img %}
  {% endblock %}
  <article>
    <!--banner begin-->
    {% block content %}
      <div class="picsbox">
        <div class="banner">
          <div id="banner" class="fader">
            <!-- <li class="slide"><a href="info.html" target="_blank"><img src="/static/images/banner01.jpg"><span class="imginfo">爬虫微课5小时
                  python学习路线!</span></a></li>
            <li class="slide"><a href="info.html" target="_blank"><img src="/static/images/banner02.jpg"><span class="imginfo">干货|如何优雅的在手机上进行Python编程</span></a></li>
            <li class="slide"><a href="info.html" target="_blank"><img src="/static/images/banner03.jpg"><span class="imginfo">python-win10下使用定时任务执行程序</span></a></li> -->
            {% for topic in params.topics[0:3] %}
              <li class="slide"><a href="/info?id={{topic.id}}" target="_blank"><img src="/static/{{topic.images}}"><span class="imginfo">{{topic.title}}</span></a></li>
            {% endfor %}

            <div class="fader_controls">
              <div class="page prev" data-target="prev">&lsaquo;</div>
              <div class="page next" data-target="next">&rsaquo;</div>
              <ul class="pager_list">
              </ul>
            </div>
          </div>
        </div>
        <!--banner end-->
        <div class="toppic">
          <!-- <li> <a href="info.html" target="_blank"> <i><img src="/static/images/toppic01.jpg"></i>
              <h2>linux升级py3,安装pip,svn</h2>
              <span>Linux</span>
            </a> </li>
          <li> <a href="info.html" target="_blank"> <i><img src="/static/images/zd01.jpg"></i>
              <h2>精通Python编程——Python深入浅出教程</h2>
              <span>python</span>
            </a> </li> -->
          <li><a href="/info?id={{params.topics[3].id}}" target="_blank"><i><img src="/static/{{params.topics[3].images}}"></i><h2>{{params.topics[3].title}}</h2><span>{{params.topics[3].category.cate_name}}</span></a></li>
          <li><a href="/info?id={{params.topics[4].id}}" target="_blank"><i><img src="/static/{{params.topics[4].images}}"></i><h2>{{params.topics[4].title}}</h2><span>{{params.topics[4].category.cate_name}}</span></a></li>
        </div>
      {% endblock %}
    </div>
    <div class="blank"></div>
    <!--blogsbox begin-->
    <div class="blogsbox">
      {% for topic in params.topics %}
        <div class="blogs" data-scroll-reveal="enter bottom over 1s">
          <h3 class="blogtitle"><a href="info.html" target="_blank">{{topic.title}}</a></h3>
          {% if topic.images %}
            <span 
              {% if loop.index % 2 == 0 %}
                class="blogpic"
              {% else %}
                class="bigpic"
              {% endif %}
            ><a href="info.html" title=""><img src="/static/{{topic.images}}" alt=""></a></span>
          {% endif %}
          <p class="blogtext">{{topic.content|truncate(200)}}...</p>
          <div class="bloginfo">
            <ul>
              <li class="author"><a href="info.html">{{topic.user.uname}}</a></li>
              <li class="lmname"><a href="info.html">{{topic.category.cate_name}}</a></li>
              <li class="timer">{{topic.pub_date.strftime("%Y-%m-%d")}}</li>
              <li class="view"><span>{{topic.read_num}}</span>已阅读</li>
              <li class="like">{{topic.voke_users.count()}}</li>
            </ul>
          </div>
        </div>
      {% endfor%}
    </div>
    <!--blogsbox end-->
    <div class="sidebar">
      <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
          <li> <i><img src="/static/images/banner03.jpg"></i>
            <p>CentOS7下python开发环境配置 <span><a href="#">阅读</a></span> </p>
          </li>
          <li> <i><img src="/static/images/b04.jpg"></i>
            <p>Python基础概念_2_基础概念<span><a href="#">阅读</a></span></p>
          </li>
          <li> <i><img src="/static/images/b05.jpg"></i>
            <p>Python之if判断语句与while和for循环<span><a href="#">阅读</a></span></p>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        <ul class="tjpic">
          <i><img src="/static/images/toppic01.jpg"></i>
          <p><a href="#">python中打开TXT文件报错</a></p>
        </ul>
        <ul class="sidenews">
          <li> <i><img src="/static/images/toppic01.jpg"></i>
            <p><a href="#">python学习网址以及笔记</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/toppic02.jpg"></i>
            <p><a href="#">CentOS7下python开发环境配置</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/v1.jpg"></i>
            <p><a href="#">python初步实现word2vec</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/v2.jpg"></i>
            <p><a href="#">Python之if判断语句与while和for循环</a></p>
            <span>2018-05-13</span>
          </li>
        </ul>
      </div>
      <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
          <i><img src="/static/images/toppic01.jpg"></i>
          <p><a href="#">Python语言在人工智能(AI)中的优势</a></p>
        </ul>
        <ul class="sidenews">
          <li> <i><img src="/static/images/toppic01.jpg"></i>
            <p><a href="#">精通Python编程——Python深入浅出教程</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/toppic02.jpg"></i>
            <p><a href="#">人生苦短 Python当歌</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/v1.jpg"></i>
            <p><a href="#">Python学习笔记：虚拟环境和包</a></p>
            <span>2018-05-13</span>
          </li>
          <li> <i><img src="/static/images/v2.jpg"></i>
            <p><a href="#">python中打开TXT文件报错</a></p>
            <span>2018-05-13</span>
          </li>
        </ul>
      </div>
      <div class="cloud">
        <h2 class="hometitle">标签云</h2>
        <ul>
          <a href="#">陌上花开</a> <a href="#">校园生活</a> <a href="#">html5</a> <a href="#">SumSung</a> <a href="#">青春</a> <a
            href="#">温暖</a> <a href="#">阳光</a> <a href="#">三星</a><a href="#">索尼</a> <a href="#">华维荣耀</a> <a href="#">三星</a>
          <a href="#">索尼</a>
        </ul>
      </div>
      <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
          <li><a href="#" target="_blank">达内</a></li>
          <li><a href="#" target="_blank">亿元级IT教育领军企业</a></li>
          <li><a href="#" target="_blank">人工智能改变世界</a></li>
        </ul>
      </div>
      <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">关注我们 么哒！</h2>
        <ul>
          <li class="sina"><a href="#" target="_blank"><span>微信公众号</span>达内</a></li>
          <li class="tencent"><a href="#" target="_blank"><span>微信咨询</span>XXX</a></li>
          <li class="qq"><a href="#" target="_blank"><span>QQ号</span>XXXXXX</a></li>
          <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>tedu.cn</a></li>
          <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>xxxxxxxxxxx</a></li>
        </ul>
      </div>
    </div>
  </article>
  <footer id="footer">
    <p>Design by <a href=# target="_blank">个人博客</a> <a href="#">备XXXXXXXXX号-1</a></p>
  </footer>
  <a href="#" class="cd-top">Top</a>
</body>

</html>