<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <p>
            登录名称<input type="text" name="uname">
        </p>
        <p>
            登录密码<input type="password" name="upwd">
        </p>
        <p>
            <input type="checkbox" value="1" name="remember" id="remember"><label for="remember">remember password</label>
        </p>
        <p>
            <input type="submit" value="login">
        </p>
    </form>
</body>
</html>