<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1px solid black" width="500">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>邮箱</td>
            <td>删除</td>
        </tr>
        {% for au in authors %}
            {% if au.isActive %}
                <tr>
                    <td>{{au.name}}</td>
                    <td>{{au.age}}</td>
                    <td>{{au.email}}</td>
                    <td><a href="/06-delete/{{au.id}}">删除</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>